.answers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.answer-card {
    margin: 10px;
    flex: 1;
    width: 600px;
    max-width: 100%;
    min-width: 20px;
}

div.answer-card > div.card-body > p > img {
    max-width: 200px;
}

div.answer-card > div.card-body *  img {
    max-width: 200px;
    /* display: none; */
}

div.card-text {
    color: black
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 20px;
}

.search-bar {
    flex: 1;
    width: 600px;
    max-width: 100%;
    min-width: 20px;
    /* border-radius: 2rem; */
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-color: tomato; */
}
